@import 'base.less';
@import 'carousel.less';
@import 'mask.less';
@import 'alert.less';
@import 'confirm.less';
#index{
  .carousel-container{
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 300px;
  }
}