html,
body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #333;
}
/*head*/
.nav-bar {
  width: 100%;
  height: 60px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 10px #000;
  position: fixed;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 100;
  box-sizing: border-box;
}
.nav-bar .logo {
  background: #06e;
  padding: 0 10px;
  border-radius: 5px;
}
.nav-bar .right-part {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-bar .right-part .search {
  border-right: 1px solid #ddd;
}
.nav-bar .right-part .func-item {
  padding: 0 10px;
  cursor: pointer;
  font-size: 14px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #555;
}
.nav-bar .right-part .func-item input {
  background: transparent;
  border: none;
  outline: none;
}
.nav-bar .right-part .func-item img {
  width: 16px;
  height: 16px;
  padding: 0 5px;
}
.nav-bar .right-part .func-item .shopping-car {
  width: 20px;
  height: 20px;
}
